<form
  class="form-add-task"
  (ngSubmit)="onSubmit()"
  *ngIf="showForm"
  #formAddTask="ngForm"
>
  <div class="form-group">
    <label for="text">Task</label>
    <input
      type="text"
      [(ngModel)]="text"
      class="form-control"
      name="text"
      id="text"
      placeholder="Add Task"
      #textInput="ngModel"
      required
    >
  </div>
  <div class="alert alert-danger" [hidden]="textInput.valid || textInput.pristine">
    Text is required
  </div>
  <div class="form-group">
    <label for="day">Day & TIme</label>
    <input
      type="text"
      [(ngModel)]="day"
      class="form-control"
      name="day"
      id="day"
      #dayInput="ngModel"
      placeholder="Add Day & TIme"
      required
    >
  </div>
  <div class="alert alert-danger" [hidden]="dayInput.valid || dayInput.pristine">
    Day is required
  </div>
  <div class="form-group">
    <label class="form-check-label" for="exampleCheck1">Set Reminder</label>
    <input
      type="checkbox"
      [(ngModel)]="reminder"
      class="form-check-input"
      name="reminder"
      id="reminder"
    >
  </div>
  <div class="form-group">
    <input
      type="submit"
      value="Save Task"
      class="btn btn-success"
      [disabled]="!formAddTask.form.valid"
    >
  </div>
</form>
